@using CITPracticum.ViewModels;
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["CurrentPage"] = "Dashboard";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <style>
        /* Custom styles */
        .progress-custom {
            height: 20px;
        }

        .progress-label {
            font-size: 0.9rem;
            color: #6c757d;
            margin-bottom: 0;
        }

        .page-link {
            color: #6c757d; /* Customize pagination color */
        }

        .page-item.active .page-link {
            background-color: #6c757d; /* Customize active pagination color */
            border-color: #6c757d;
        }

        .search-bar {
            max-width: 300px;
            margin-bottom: 20px;
        }

        h5 {
            text-align: center;
        }
    </style>

    <!-- Main Content -->
    <div class="container-fluid mt-3">
        <div class="row  offset-3">
            <!-- Forms Count -->
            <div class="col-lg-6 step1">
                <h5 class="mb-3">Form Submission Progress</h5>
                <div class="card mb-3 step2">
                    <div class="card-body">
                        <h6 class="progress-label">Form FOIP <span class="m-5">@Model.FormFOIPCount/@Model.PlacementCount</span></h6>
                        <div class="progress progress-custom">
                            <div class="progress-bar" role="progressbar" style="width: @Model.FOIPPercentage;" aria-valuenow="@Model.FOIPPercent" aria-valuemin="0" aria-valuemax="100">@Model.FOIPPercentage</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 step3">
                    <div class="card-body">
                        <h6 class="progress-label">Form ID <span class="m-5">@Model.FormIdCount/@Model.PlacementCount</span></h6>
                        <div class="progress progress-custom">
                            <div class="progress-bar" role="progressbar" style="width: @Model.IdPercentage;" aria-valuenow="@Model.IdPercent" aria-valuemin="0" aria-valuemax="100">@Model.IdPercentage</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 step4">
                    <div class="card-body">
                        <h6 class="progress-label">Form A <span class="m-5">@Model.FormACount/@Model.PlacementCount</span></h6>
                        <div class="progress progress-custom">
                            <div class="progress-bar" role="progressbar" style="width: @Model.APercentage;" aria-valuenow="@Model.APercent" aria-valuemin="0" aria-valuemax="100">@Model.APercentage</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 step4">
                    <div class="card-body">
                        <h6 class="progress-label">Form B <span class="m-5">@Model.FormBCount/@Model.PlacementCount</span></h6>
                        <div class="progress progress-custom">
                            <div class="progress-bar" role="progressbar" style="width: @Model.BPercentage;" aria-valuenow="@Model.BPercent" aria-valuemin="0" aria-valuemax="100">@Model.BPercentage</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 step4">
                    <div class="card-body">
                        <h6 class="progress-label">Form C <span class="m-5">@Model.FormCCount/@Model.PlacementCount</span></h6>
                        <div class="progress progress-custom">
                            <div class="progress-bar" role="progressbar" style="width: @Model.CPercentage;" aria-valuenow="@Model.CPercent" aria-valuemin="0" aria-valuemax="100">@Model.CPercentage</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 step4">
                    <div class="card-body">
                        <h6 class="progress-label">Form D <span class="m-5">@Model.FormDCount/@Model.PlacementCount</span></h6>
                        <div class="progress progress-custom">
                            <div class="progress-bar" role="progressbar" style="width: @Model.DPercentage;" aria-valuenow="@Model.DPercent" aria-valuemin="0" aria-valuemax="100">@Model.DPercentage</div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- ...End... -->
                <!-- Documents -->
                <div class="col-lg-6 step1">
                    <h5 class="mb-3">Documents Submission Progress</h5>
                    <div class="card mb-3 step2">
                        <div class="card-body">
                        <h6 class="progress-label">Resume <span class="m-5">10/15</span></h6>
                            <div class="progress progress-custom">
                                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 step3">
                        <div class="card-body">
                        <h6 class="progress-label">Cover Letter <span class="m-5">10/15</span></h6>
                            <div class="progress progress-custom">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- ... End ... -->
                    <!-- Hours Progress -->
                    <div class="col-lg-6 step1">
                        <h5 class="mb-3">Student Hours Progress</h5>
                        <div class="card mb-3 step2">
                            <div class="card-body">
                        <h6 class="progress-label">100 Hours Completed <span class="m-5">10/15</span></h6>
                                <div class="progress progress-custom">
                                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 step3">
                            <div class="card-body">
                                <h6 class="progress-label">200 Hours Completed <span class="m-5">10/15</span></h6>
                                <div class="progress progress-custom">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </div>
                        </div>
                        <!-- ... other progress cards ... -->
                </div>
        </div>
    </div>

}
else if (User.Identity.IsAuthenticated && User.IsInRole("student"))
{
    //Student dashboard content
    <h3>This is the student dashboard.</h3>
}
else if (User.Identity.IsAuthenticated && User.IsInRole("employer"))
{
    //Student dashboard content
    <h3>This is the employer dashboard.</h3>
}
@if (User.IsInRole("admin"))
{
    <script>
        const tour = new Shepherd.Tour({
            useModalOverlay: true,
            defaultStepOptions: {
                classes: 'shadow-md bg-purple-dark',
                scrollTo: true
            }
        });

        @*Start of Dashboard Demo*@
        tour.addStep({
                id: 'example-step',
                text: 'Demo time! Here is the average of student progress.',
                attachTo: {
                    element: '.step1',
                    on: 'bottom'
                },
                classes: 'step1',
                buttons: [
                    {
                        text: 'Next',
                        action: tour.next
                    },
                    {
                        text: 'Exit Tour',
                        action: tour.cancel
                    }
                ]
            });

        tour.addStep({
            id: 'example-step',
            text: 'It is broken down into three fields: Average Student Hours',
            attachTo: {
                element: '.step2',
                on: 'bottom'
            },
            classes: 'step2',
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });

        tour.addStep({
            id: 'example-step',
            text: 'First 100 Hours Completed',
            attachTo: {
                element: '.step3',
                on: 'bottom'
            },
            classes: 'step3',
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });

        tour.addStep({
            id: 'example-step',
            text: 'And finally, All Forms Signed.',
            attachTo: {
                element: '.step4',
                on: 'bottom'
            },
            classes: 'step4',
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });
        @*End of Dashboard Demo*@
    </script>
}
else if (User.IsInRole("student"))
{
    //Student Demo
    <script>
        const tour = new Shepherd.Tour({
            useModalOverlay: true,
            defaultStepOptions: {
                classes: 'shadow-md bg-purple-dark',
                scrollTo: true
            }
        });
    </script>
}
else if (User.IsInRole("employer"))
{
    //Employer Demo
    <script>
        const tour = new Shepherd.Tour({
            useModalOverlay: true,
            defaultStepOptions: {
                classes: 'shadow-md bg-purple-dark',
                scrollTo: true
            }
        });
    </script>
}

<script>
    @*Start of Side nav/Top nav Demo*@

        tour.addStep({
            id: 'example-step',
            text: 'Here is the navigation menu!',
            attachTo: {
                element: '.nav1',
                on: 'right'
            },
            classes: 'nav1',
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });

    tour.addStep({
        id: 'example-step',
        text: 'The main content to focus on is the navigation links. These will take you to the other areas of the application.',
        attachTo: {
            element: '.nav2',
            on: 'bottom'
        },
        classes: 'nav2',
        buttons: [
            {
                text: 'Next',
                action: tour.next
            },
            {
                text: 'Exit Tour',
                action: tour.cancel
            }
        ]
    });

    tour.addStep({
        id: 'example-step',
        text: 'This is the settings menu. Here you can access your profile, or sign out.',
        attachTo: {
            element: '.nav3',
            on: 'top'
        },
        classes: 'nav3',
        buttons: [
            {
                text: 'Next',
                action: tour.next
            },
            {
                text: 'Exit Tour',
                action: tour.cancel
            }
        ]
    });
    @*End of Side nav & Top nav Demo*@
</script>