@model JobPosting

@{
    ViewData["Title"] = "Job Postings";
    ViewData["CurrentPage"] = "Job Postings > Archive";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Are you sure you want to archive this job posting?</h1>
        <hr />
        <h5>Job Title:</h5>
        <p>@Model.JobTitle</p>

        <h5>Description:</h5>
        @if(Model.JobDescription.Length > 700)
        {
            @Html.Raw(Model.JobDescription.Substring(0, 700) + "...");
        } else
        {
            <p>@Model.JobDescription</p>
        }

        <h5>Company:</h5>
        <p>@Model.Company</p>

        <h5>Location:</h5>
        <p>@Model.Location</p>

        <h5>Payment Type:</h5>
        <p>@Model.PaymentCategory</p>

        <h5>Link:</h5>
        <p><a href="@Model.Link" target="_blank">@Model.Link</a></p>
        <hr />
        <div class="form-group mb-5">
            <form asp-controller="JobPosting" asp-action="Archive">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-outline-warning float-right">Confirm</button>
                <a asp-action="Index" class="btn btn-outline-secondary float-right mr-2">Cancel</a>
            </form>
        </div>
    </div>
</div>
