@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Employers";
    ViewData["CurrentPage"] = "Employers";
}

<style>
    .btn-primary {
        background-color: var(--kodiaks-blue);
        color: white;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .btn-primary:hover {
            background-color: #5a9bd5; /* Darker shade of kodiaks-blue */
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table thead {
            background-color: var(--stone-pipe-grey);
            color: white;
        }

            .table thead th {
                padding: 0.75rem 1rem;
                text-align: left;
            }

        .table tbody td {
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--stone-pipe-grey);
        }

    .img-fluid {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        background-color: var(--stone-pipe-grey);
    }

    .nav-link {
        color: #007bff; /* Non-active tab text color */
        margin-right: 2px; /* Spacing between tabs */
        border: 1px solid transparent; /* Transparent border for non-active tabs */
        border-radius: 0.25rem; /* Rounded corners on the top */
    }

    .nav-tabs {
        border-bottom: 1px solid #dee2e6; /* Bottom border for the whole nav */
    }

        /* Styles to align the button with the tab items */
        .nav-tabs .nav-item:last-child {
            margin-left: auto; /* Push the button to the right */
        }

    td.name-column {
        max-width: 300px; /* Adjust the max-width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    th.name-column {
        max-width: 350px; /* Adjust the max-width as needed */
    }
</style>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-exclamation fa-lg"></i> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fa-regular fa-circle-check fa-lg"></i> @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="job-posts-tab" data-toggle="tab" href="/Employer/Index" role="tab" aria-controls="job-posts" aria-selected="true">Employers</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary step4" asp-controller="Employer" asp-action="Register"><i class="fa-solid fa-plus"></i> Add Employer</a>
    </li>
</ul>

<table class="table table-striped table-hover step1">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th>
                <div class="d-flex">
                    <!-- Sortable link with text and icon -->
                    <a class="text-white" asp-action="Index"
                       asp-route-sortOrder="@ViewData["NameSortParm"]"
                       asp-route-nameFilter="@ViewData["CurrentNameFilter"]"
                       asp-route-usernameFilter="@ViewData["CurrentUsernameFilter"]"
                       asp-route-emailFilter="@ViewData["CurrentEmailFilter"]"
                       asp-route-studIdFilter="@ViewData["CurrentCompanyFilter"]">
                        Name <i class="fa-solid fa-sort me-2"></i>
                    </a>
                    <!-- Filter dropdown -->
                    <div class="dropdown">
                        <a class="text-white" style="cursor: pointer;" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i>
                        </a>
                        <div class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton">
                            <div class="mb-3">
                                <form>
                                    <input type="text" class="form-control mb-2" name="nameFilter" placeholder="First name">
                                    <button class="btn btn-primary mt-3" asp-action="Index">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="d-flex">
                    <!-- Sortable link with text and icon -->
                    <a class="text-white" asp-action="Index"
                       asp-route-sortOrder="@ViewData["UsernameSortParm"]"
                       asp-route-nameFilter="@ViewData["CurrentNameFilter"]"
                       asp-route-usernameFilter="@ViewData["CurrentUsernameFilter"]"
                       asp-route-emailFilter="@ViewData["CurrentEmailFilter"]"
                       asp-route-studIdFilter="@ViewData["CurrentCompanyFilter"]">
                        Username <i class="fa-solid fa-sort me-2"></i>
                    </a>
                    <!-- Filter dropdown -->
                    <div class="dropdown">
                        <a class="text-white" style="cursor: pointer;" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i>
                        </a>
                        <div class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton">
                            <div class="mb-3">
                                <form>
                                    <input type="text" class="form-control mb-2" name="usernameFilter" placeholder="Username">
                                    <button class="btn btn-primary mt-3" asp-action="Index">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="d-flex">
                    <!-- Sortable link with text and icon -->
                    <a class="text-white" asp-action="Index"
                       asp-route-sortOrder="@ViewData["EmailSortParm"]"
                       asp-route-nameFilter="@ViewData["CurrentNameFilter"]"
                       asp-route-usernameFilter="@ViewData["CurrentUsernameFilter"]"
                       asp-route-emailFilter="@ViewData["CurrentEmailFilter"]"
                       asp-route-studIdFilter="@ViewData["CurrentCompanyFilter"]">
                        Email <i class="fa-solid fa-sort me-2"></i>
                    </a>
                    <!-- Filter dropdown -->
                    <div class="dropdown">
                        <a class="text-white" style="cursor: pointer;" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i>
                        </a>
                        <div class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton">
                            <div class="mb-3">
                                <form>
                                    <input type="text" class="form-control mb-2" name="emailFilter" placeholder="Email">
                                    <button class="btn btn-primary mt-3" asp-action="Index">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="d-flex">
                    <!-- Sortable link with text and icon -->
                    <a class="text-white" asp-action="Index"
                       asp-route-sortOrder="@ViewData["CompanySortParm"]"
                       asp-route-nameFilter="@ViewData["CurrentNameFilter"]"
                       asp-route-usernameFilter="@ViewData["CurrentUsernameFilter"]"
                       asp-route-emailFilter="@ViewData["CurrentEmailFilter"]"
                       asp-route-studIdFilter="@ViewData["CurrentCompanyFilter"]">
                        Company <i class="fa-solid fa-sort me-2"></i>
                    </a>
                    <!-- Filter dropdown -->
                    <div class="dropdown">
                        <a class="text-white" style="cursor: pointer;" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i>
                        </a>
                        <div class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton">
                            <div class="mb-3">
                                <form>
                                    <input type="text" class="form-control mb-2" name="companyFilter" placeholder="Company">
                                    <button class="btn btn-primary mt-3" asp-action="Index">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Employer != null)
            {
                <tr class="step2">
                    @if (item.ProfileImage != null)
                    {
                        <td scope="row"><img class="img-fluid" src="@Url.Content($"~/{item.ProfileImage}")" style="width:50px; height:50px; object-fit: cover; border: 1px solid black;" /></td>
                    }
                    else
                    {
                        <td scope="row"><img class="img-fluid" src="~/images/default.png" style="width:50px; height:50px; object-fit: cover; border: 1px solid black;" /></td>
                    }
                    <td class="name-column">@item.Employer.FirstName @item.Employer.LastName</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.Employer.CompanyName</td>
                    <td class="step3">
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Employer" asp-action="Detail" asp-route-id="@item.Employer.Id">View</a>
                        <a class="btn btn-sm btn-outline-secondary" asp-controller="Employer" asp-action="Edit" asp-route-id="@item.Employer.Id">Edit</a>
                        <a class="btn btn-sm btn-outline-danger" asp-controller="Employer" asp-action="Delete" asp-route-email="@item.Email" asp-route-id="@item.Employer.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    const tour = new Shepherd.Tour({
        useModalOverlay: true,
        defaultStepOptions: {
            classes: 'shadow-md bg-purple-dark',
            scrollTo: true
        },
        defaultStepOptions: {
            exitOnEsc: true
        }
    });

    @*Start of Dashboard Demo*@
        tour.addStep({
            id: 'example-step',
            text: 'Here is the list of all employers.',
            attachTo: {
                element: '.step1',
                on: 'bottom'
            },
            classes: 'step1',
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });

    tour.addStep({
        id: 'example-step',
        text: 'Each row gives personal information on the given employer.',
        attachTo: {
            element: '.step2',
            on: 'bottom'
        },
        classes: 'step2',
        buttons: [
            {
                text: 'Next',
                action: tour.next
            },
            {
                text: 'Exit Tour',
                action: tour.cancel
            }
        ]
    });

    tour.addStep({
        id: 'example-step',
        text: 'There are three actions available: View, Edit and Delete.',
        attachTo: {
            element: '.step3',
            on: 'bottom'
        },
        classes: 'step3',
        buttons: [
            {
                text: 'Next',
                action: tour.next
            },
            {
                text: 'Exit Tour',
                action: tour.cancel
            }
        ]
    });

    tour.addStep({
        id: 'example-step',
        text: 'Finally, this is the add employer button, this will direct you to a new page to add an employer into the system.',
        attachTo: {
            element: '.step4',
            on: 'bottom'
        },
        classes: 'step4',
        buttons: [
            {
                text: 'Finish',
                action: tour.cancel
            }
        ]
    });
    @*End of Dashboard Demo*@
</script>