@model IEnumerable<AppUser>

<section class="py-5 text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Students List</h1>

                <a class="btn btn-primary" asp-controller="Student" asp-action="Register">Add Student</a>
            </p>
        </div>
    </div>
</section>


<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Student Id</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model)
            {
                        <tr >
                            <th scope="row"><img class="img-fluid" src="https://placehold.jp/30x30.png" alt="" /></th>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.StudentId</td>
                            <td><a class="btn btn-sm btn-outline-secondary" asp-controller="Employer" asp-action="Detail" asp-route-email="@item.Email">View</a></td>
                    <td><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></td>
                    <td><a class="btn btn-sm btn-outline-secondary" asp-controller="Employer" asp-action="Delete" asp-route-email="@item.Email">Remove</a></td>
                </tr>
            }

                </tbody>
            </table>
        </div>
    </div>
</div>
